name: Deployment example

on:
  push:
    branches: [ "main", "dev" ]

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
    - name: Build and test
      run: |
        echo Building...
        echo Testing...

  deploy-prod:
    needs: [build-and-test]
    if: github.ref == 'refs/heads/main'

    runs-on: self-hosted
    environment:
       name: production
       url: https://github.com/${{ GitHub.repository }}/releases/tag/v${{ vars.PROD_VERSION }}

    steps:
      - name: Deploy script
        run:
          mv C:\Users\theju\x.txt C:\Users\theju\y.txt
