name: UPLOAD_AND_DOWNLOAD_ARTIFACTS_ACTION

on:
  workflow_dispatch:

jobs:
  #Job 1
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Build the script
      - name: step-1 Build Hello World!
        run: |
          echo "Hello World" >/tmp/hello_world.txt
     
      # Step 2: Upload Artifact
      - name: step-2 Upload Artifact - hello_world.txt
        uses: actions/upload-artifact@v6
        with:
          name: hello_world.txt
          path: /tmp/hello_world.txt
  #job 2
  test-build:
    runs-on: ubuntu-latest
    needs: build
    steps:
      # Step 1: Download Artifact
      - name: step-1 Download Artifact - hello_world.txt
        uses: actions/download-artifact@v2
        with:
          name: /tmp/hello_world.txt
