name: CAPTURING OUTPUT FROM A STEP

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: windows-latest
    steps:
      - name: Set debug
        id: set-debug-state
        run: |
          "BUILD_STAGE=debug" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Get stage
        run: |
          echo "The build stage is ${{ steps.set-debug-state.outputs.BUILD_STAGE }}"
