name: Capturing output from a step

on:
   workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Set debug
        id: set-debug-state
        run: echo "BUILD_STAGE=debug" >> $env:GITHUB_OUTPUT


      - name: Get stage
        run: echo "The build stage is ${{ steps.set-debug-stage.outputs.BUILD_STAGE }}"
