name: CAPTURING OUTPUT FROM A JOB

on:
   workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      build-stage: ${{ steps.set-debug-stage.outputs.BUILD_STAGE }}"
    steps:
      - name: Set debug
        id: set-debug-state
        run: |
          "BUILD_STAGE=debug" | Out-File -FilePath $env:GITHUB_OUTPUT -Append


  report:
    runs-on: ubuntu-latest
    needs: setup  
    steps:
      - name: Get stage
        run: echo "The build stage is ${{ needs.setup.outputs.build-stage }}"
