name: reusable-workflow

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: |
          echo "Message from caller: ${{ inputs.message }}"


