# This is a reusable workflow for creating an issue

name: create-failure-issue

on:
  # Allows this workflow to be called by another workflow
  workflow_call:
    inputs:
      title:
        required: true
        type: string
      body:
        required: true
        type: string

  # Allows this workflow to be run manually
  workflow_dispatch:
    inputs:
      title:
        description: 'Issue title'
        required: true
      body:
        description: 'Issue body'
        required: true

jobs:
  create_issue_on_failure:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Create issue using REST API
        run: |
          curl --fail --request POST \
            --url "https://api.github.com/repos/${{ github.repository }}/issues" \
            --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            --header "Accept: application/vnd.github+json" \
            --data "{
              \"title\": \"Failure: ${{ inputs.title }}\",
              \"body\": \"Details: ${{ inputs.body }}\"
            }"
